body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url("https://images.pexels.com/photos/734973/pexels-photo-734973.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60%;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
}

#timer {
    width: 100%;
    text-align: center;
    font-size: 80px;
    padding: 20px;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

button {
    margin: 0 10px;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
}

.startStopBtn {
    background-color: rgb(29, 191, 137);
    font-weight: bold;
    transition: 0.4s;
    border-radius: 15px;
}

.resetBtn {
    background-color: brown;
    color: white;
    font-weight: bold;
    transition: 0.4s;
    border-radius: 15px;
}

.startStopBtn:hover {
    background-color: black;
    color: rgb(29, 191, 137);
}

.resetBtn:hover {
    background-color: white;
    color: brown;
}